@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel .slick-dots li button {
  background: #fff !important;
  opacity: 0.5;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #fff !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: 20px;
}